      <% if (user) { %>
         <a href="/logout"> <i class="ri-login-circle-line"></i></a>

        <% } else { %>
           <a href="/auth/google"> <i class="ri-login-circle-line"></i></a>
          <% } %> 




            <!-- 
              - #PROJECTS
            -->

            <section class="projects">

              <div class="section-title-wrapper">
                <h2 class="section-title">Recent Projects</h2>

                <button class="btn btn-link icon-box">
                  <span>View All</span>

                  <span class="material-symbols-rounded  icon" aria-hidden="true">arrow_forward</span>
                </button>
              </div>

              <ul class="project-list">

                <li class="project-item">
                  <div class="card project-card">

                    <button class="card-menu-btn icon-box" aria-label="More" data-menu-btn>
                      <span class="material-symbols-rounded  icon">more_horiz</span>
                    </button>

                    <ul class="ctx-menu">

                      <li class="ctx-item">
                        <button class="ctx-menu-btn icon-box">
                          <span class="material-symbols-rounded  icon" aria-hidden="true">visibility</span>

                          <span class="ctx-menu-text">View</span>
                        </button>
                      </li>

                      <li class="ctx-item">
                        <button class="ctx-menu-btn icon-box">
                          <span class="material-symbols-rounded  icon" aria-hidden="true">edit</span>

                          <span class="ctx-menu-text">Edit</span>
                        </button>
                      </li>

                      <li class="divider"></li>

                      <li class="ctx-item">
                        <button class="ctx-menu-btn red icon-box">
                          <span class="material-symbols-rounded  icon" aria-hidden="true">delete</span>

                          <span class="ctx-menu-text">Delete</span>
                        </button>
                      </li>

                    </ul>

                    <time class="card-date" datetime="2022-04-09">Apr 09, 2022</time>

                    <h3 class="card-title">
                      <a href="#">Shreyu - Design Updates</a>
                    </h3>

                    <div class="card-badge blue">Designing</div>

                    <p class="card-text">
                      Update shreyu with modern and latest trends...
                    </p>

                    <div class="card-progress-box">

                      <div class="progress-label">
                        <span class="progress-title">Progress</span>

                        <data class="progress-data" value="75">75%</data>
                      </div>

                      <div class="progress-bar">
                        <div class="progress" style="--width: 75%; --bg: var(--emerald);"></div>
                      </div>

                    </div>

                    <ul class="card-avatar-list">

                      <li class="card-avatar-item">
                        <a href="#">
                          <img src="./assets/images/avatar-1.jpg" alt="Elizabeth Foster" width="32" height="32">
                        </a>
                      </li>

                      <li class="card-avatar-item">
                        <a href="#">
                          <img src="./assets/images/avatar-2.jpg" alt="John Foster" width="32" height="32">
                        </a>
                      </li>

                    </ul>

                  </div>
                </li>

                <li class="project-item">
                  <div class="card project-card">

                    <button class="card-menu-btn icon-box" aria-label="More" data-menu-btn>
                      <span class="material-symbols-rounded  icon">more_horiz</span>
                    </button>

                    <ul class="ctx-menu">

                      <li class="ctx-item">
                        <button class="ctx-menu-btn icon-box">
                          <span class="material-symbols-rounded  icon" aria-hidden="true">visibility</span>

                          <span class="ctx-menu-text">View</span>
                        </button>
                      </li>

                      <li class="ctx-item">
                        <button class="ctx-menu-btn icon-box">
                          <span class="material-symbols-rounded  icon" aria-hidden="true">edit</span>

                          <span class="ctx-menu-text">Edit</span>
                        </button>
                      </li>

                      <li class="divider"></li>

                      <li class="ctx-item">
                        <button class="ctx-menu-btn red icon-box">
                          <span class="material-symbols-rounded  icon" aria-hidden="true">delete</span>

                          <span class="ctx-menu-text">Delete</span>
                        </button>
                      </li>

                    </ul>

                    <time class="card-date" datetime="2022-04-09">Apr 09, 2022</time>

                    <h3 class="card-title">
                      <a href="#">Prompt v2.0</a>
                    </h3>

                    <div class="card-badge orange">Planning</div>

                    <p class="card-text">
                      Plan new features and functionality for prompt...
                    </p>

                    <div class="card-progress-box">

                      <div class="progress-label">
                        <span class="progress-title">Progress</span>

                        <data class="progress-data" value="50">50%</data>
                      </div>

                      <div class="progress-bar">
                        <div class="progress" style="--width: 50%; --bg: var(--imperial-red);"></div>
                      </div>

                    </div>

                    <ul class="card-avatar-list">

                      <li class="card-avatar-item">
                        <a href="#">
                          <img src="./assets/images/avatar-1.jpg" alt="Elizabeth Foster" width="32" height="32">
                        </a>
                      </li>

                      <li class="card-avatar-item">
                        <a href="#">
                          <img src="./assets/images/avatar-2.jpg" alt="John Foster" width="32" height="32">
                        </a>
                      </li>

                    </ul>

                  </div>
                </li>

                <li class="project-item">
                  <div class="card project-card">

                    <button class="card-menu-btn icon-box" aria-label="More" data-menu-btn>
                      <span class="material-symbols-rounded  icon">more_horiz</span>
                    </button>

                    <ul class="ctx-menu">

                      <li class="ctx-item">
                        <button class="ctx-menu-btn icon-box">
                          <span class="material-symbols-rounded  icon" aria-hidden="true">visibility</span>

                          <span class="ctx-menu-text">View</span>
                        </button>
                      </li>

                      <li class="ctx-item">
                        <button class="ctx-menu-btn icon-box">
                          <span class="material-symbols-rounded  icon" aria-hidden="true">edit</span>

                          <span class="ctx-menu-text">Edit</span>
                        </button>
                      </li>

                      <li class="divider"></li>

                      <li class="ctx-item">
                        <button class="ctx-menu-btn red icon-box">
                          <span class="material-symbols-rounded  icon" aria-hidden="true">delete</span>

                          <span class="ctx-menu-text">Delete</span>
                        </button>
                      </li>

                    </ul>

                    <time class="card-date" datetime="2022-04-09">Apr 09, 2022</time>

                    <h3 class="card-title">
                      <a href="#">Hyper React v4.0</a>
                    </h3>

                    <div class="card-badge cyan">Development</div>

                    <p class="card-text">
                      Update shreyu with modern and latest trends...
                    </p>

                    <div class="card-progress-box">

                      <div class="progress-label">
                        <span class="progress-title">Progress</span>

                        <data class="progress-data" value="60">60%</data>
                      </div>

                      <div class="progress-bar">
                        <div class="progress" style="--width: 60%; --bg: var(--sunglow);"></div>
                      </div>

                    </div>

                    <ul class="card-avatar-list">

                      <li class="card-avatar-item">
                        <a href="#">
                          <img src="./assets/images/avatar-1.jpg" alt="Elizabeth Foster" width="32" height="32">
                        </a>
                      </li>

                      <li class="card-avatar-item">
                        <a href="#">
                          <img src="./assets/images/avatar-2.jpg" alt="John Foster" width="32" height="32">
                        </a>
                      </li>

                    </ul>

                  </div>
                </li>

              </ul>

            </section>

