<!-- 
  - #FOOTER in main
-->

<footer class="footer">
  <div class="container">

    <ul class="footer-list">

      <li class="footer-item">
        <a href="/privacy" class="footer-link">Privacy</a>
      </li>

      <li class="footer-item">
        <a href="/terms" class="footer-link">Terms</a>
      </li>

      <li class="footer-item">
        <a href="#" class="footer-link">Developers</a>
      </li>

      <li class="footer-item">
        <a href="#" class="footer-link">Support</a>
      </li>

    </ul>

    <p class="copyright">
      &copy; 2024 <a href="#" class="copyright-link">blingo</a>. All Rights Reserved
    </p>

  </div>
</footer>