<div id="snowEffectModal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <h2 class="mtitle">Settings</h2>
    <p class="mdescription">Manage your settings here. Changes will be saved automatically.</p>
    <div>
      <div class="sbtwn">
        <p class="stitle">Dashboard: </p>
        <div class="switch">
          <a href="/dashboard" class="rbgcolor custom-tooltip-button">
            <span class="rcolor material-symbols-rounded">
              manage_accounts
            </span>
          </a>
        </div>
      </div>
      <div class="sbtwn">
        <p class="stitle">Your Api Key: </p>
        <div class="switch">
          <a href="/apikey" class="rbgcolor custom-tooltip-button">
            <span class="rcolor material-symbols-rounded">
              key
            </span>
          </a>
        </div>
      </div>
      <div class="sbtwn">
        <p class="stitle">Logout: </p>
        <div class="switch">
          <a href="/logout" class="rbgcolor custom-tooltip-button">
            <span class="rcolor material-symbols-rounded">
              logout
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
